.wrapper .product-wrapper {
  width: 68%;
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 23%;
}

.product-item img {
  width: 100%;
  border: 1px solid #2a5ea2;
}

.product-desc {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.addCart {
  background-color: #2a5ea2;
  padding: 7px;
  width: 100%;
  margin: 10px 1px;
  color: #fff;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

.product-info span {
  display: inline-block;
  font-size: 34px;
  background: #2a5ea2;
  width: 25px;
  height: 25px;
  line-height: 18px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.product-info img {
  display: block;
  width: 25%;
  margin: 20px auto;
}
.product-info p {
  color: #2a5ea2;
  font-size: 23px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  margin: 12px;
}